<div class="container">
  <h1 style="background-color: aquamarine;padding: 20px;">Hey Thachu!!</h1>


<button class="btn btn-primary me-2 mt-2"><a style="text-decoration: inherit; color: inherit;" routerLink="register">Register</a></button>
<button class="btn btn-success me-2 mt-2"><a style="text-decoration: inherit; color: inherit;" routerLink="login">Log in</a></button>
<button class="btn btn-info me-2 mt-2"><a style="text-decoration: inherit; color: inherit;" routerLink="views">Views</a></button>
</div>
<router-outlet></router-outlet>
